body {
font-family: trebuchet ms;
width: 90%
margin: 4em;
max-width: 60em;
}

h1 {
font-size: 2em;
}

h2 {
color: #33cccc;
font-weight: bold;
font-size: 1.75em;
}

#banner {
padding-left: 1em;
color: #fff;
background-color: #33cccc;
overflow-x: hidden;
overflow-y: hidden;

}

p {
color: #33cccc;
}

.links {
  text-decoration: none;
  list-style-type: none;
  color: #000;
  font-size: 1em;
  }

.about {
  color: #000;
  }

  .about2 {
  color: #000;
  font-style: italic;
  }


#content {
  padding-left: 2em;
  padding-right: 2em;
  }

#nav a {
  text-decoration: none;
  }


  @media (min-width: 48em) {

    #content {
  padding-left: 4em;
  padding-right: 4em;
  }

  #banner {
padding-left: 2em;
}

  }
